* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Arial', sans-serif;
}

/* HEADER */
.header {
  background-color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 30px;
}
.header-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}
.user {
  height: 30px;
  border-radius: 50%;
}
.user-name {
  font-size: 14px;
}

.hero {
  background-color: #003c90;
  color: white;
  padding: 60px 50px 160px;
  height: 650px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.hero-text {
  max-width: 750px;
  z-index: 2;
}
.hero h1 {
  font-size: 61px;
  font-weight: 700;
  margin-bottom: 25px;
  line-height: 1.2;
}
.hero p {
  font-size: 18px;
  margin-bottom: 35px;
  line-height: 1.5;
  color: #dbe6ff;
  max-width: 620px;
}
.register-button {
  background: #ffffff;
  border: 2px solid #d35400;
  color:#d35400;
  font-size: 16px;
  width: 500px;
  height: 65px;
  font-weight: bold;
  padding: 15px 50px;
  border-radius: 40px;
  margin-bottom: 0px;
  cursor: pointer;
  transition: 0.3s;
}

.register-button:hover {
  background-color:#d35400;
  color: #fff;
}
.arrow-down {
  position: absolute;
  top: 450px;
  right: 50px;
  transform: translateX(50%);
  color: white;
}
.seta{
  width: 80px;
}


















body {
      background-color:rgb(255, 255, 255); 
    }
    
    aside {
      min-height: 100vh;
    }

.card-img-top {
  width: 350px;  
  height: 350px; 
  object-fit: cover; 
  border-radius: 40px; 
  background-color: #e9ecef;
}
.card-text {
    max-width:250px;

}

.pagination {
  display: flex;
  list-style: none;
  gap: 12px;
  align-items: center;
}

.pagination a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 50%;
  transition: 0.3s;
}

.pagination a:hover {
  background: #ddd;
}


.pagination .active {
  background: #d35400;
  color: #fff;
}


.arrow {
  font-size: 16px;
  font-weight: bold;
  padding: 6px 10px;
  border-radius: 5px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.button-pagination {
  border-radius: 100%;
  font-weight: bold;
  border: none;
}

.button-pagination:hover {
  background-color: #d35400;
  transition: all 0ms ease-in-out;
}

