body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #fffaf5;
  color: #2e304bff;
}

/* HEADER */
.header {
  background-color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 100;
}

.logo {
  height: 30px;
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.user {
  height: 30px;
  border-radius: 50%;
}

.user-name {
  font-size: 14px;
}

/* HERO */
.hero {
  background-color: #003c90;
  color: white;
  padding: 120px 50px 200px;
  height: 700px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* AJUDA CENTRALIZADA */
.ajuda-centralizada {
  text-align: center;
  color: #ffffffff;
  z-index: 10;
}

.ajuda-centralizada h1 {
  font-size: 130px;
  font-weight: bold;
  margin: 0;
  position: relative;
}

.onda-img {
  position: absolute;
  top: 220px;          /* distância do topo da tela */
  left: 50%;          /* centraliza horizontalmente */
  transform: translateX(-50%); /* corrige o alinhamento central */
  width: 350px;       /* tamanho da imagem */
  margin-top: 30px;   /* espaçamento extra opcional */
}


/* IMAGENS SHERLOCK/WATSON */
.sherlock-img {
  width: 170px;
  position: absolute;
  top: 40px;
  left: 30px;
}

.watson-img {
  width: 260px;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(35px);
}

/* INTRO */
.intro {
  text-align: center;
  padding: 40px 20px;
}

.intro h2 {
  font-size: 3rem;
  margin-bottom: 50px;
  color: #000000ff;
}

/* CARDS */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.card {
  background-color: #E84910 !important; /* cor do quadrado */
  color: #ffffff !important; /* texto branco */
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* sombra mais visível */
  flex: 1 1 200px;
  max-width: 250px;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}


/* IMAGEM CENTRAL */
.box-grande {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.box-grande img {
  width: 80%;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

/* FAQ */
.titulo-faq {
  text-align: center;
  margin-bottom: 20px;
  color: #000000ff;
}

.accordion-button {
  background: #1e90ff;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
}

.accordion-body {
  background: #fffaf5;
  color: #000000ff;
  font-size: 1.1rem;
}

/* SEÇÕES FINAIS */
.secao {
  background-color: #f9efe5;
  padding: 20px;
  margin: 20px 0;
  border-radius: 12px;
}

.limitacoes {
  border-left: 5px solid #E84910;
}

.dicas {
  border-left: 5px solid #E84910;
}
