* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
}


/* HEADER */
.header {
  background-color: #f5f5f5;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 30px;
}
.header-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}
.user {
  height: 30px;
  border-radius: 50%;
}
.user-name {
  font-size: 14px;
}
/* HEADER */


/* HERO */
.hero {
  background-color: #003c90;
  color: #f5f5f5;
  padding: 60px 50px 160px;
  height: 370px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.hero h1 {
  z-index: 10;
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.1;
  color: #f5f5f5;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}
.hero-text {
  max-width: 380px;
  z-index: 10;
  margin-top: 10px;
}
.hero p {
  font-size: 17px;
  margin-bottom: 35px;
  line-height: 1.5;
  color: #f5f5f5;
  max-width: 510px;
}
/* Imagens de fundo */
.man-img1,
.man-img2,
.man-img3 {
  position: absolute;
  top: 0;
  opacity: 0.4;
  filter: brightness(0.7);
  z-index: 0;
}
.man-img1 {
  right: 0;
  height: 500px;
  width: 650px;
}
.man-img2 {
  right: 725px;
  height: 500px;
  width: 640px;
}
.man-img3 {
  left: -70px;
  height: 450px;
  width: 607px;
}
.bottom-curve {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 550px;
  height: 90px;
  background: #f5f5f5;
  border-radius: 60px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05);
  padding-bottom: 10px;
}
/* Botão principal */
.register-button {
  background: #f5f5f5;
  border: 2px solid #f25c05;
  color: #f25c05;
  font-size: 16px;
  width: 450px;
  height: 55px;
  font-weight: bold;
  padding: 15px 50px;
  border-radius: 40px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.register-button:hover {
  background-color: #f25c05;
  color: #f5f5f5;
}
/* Tabs */
.tabs {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  gap: 60px;
  padding: 20px 0;
  border-top-left-radius: 40px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 700px;
  height: 90px;
}
.tab-button {
  background: none;
  border: none;
  font-size: 18px;
  font-weight: bold;
  color: #f25c05;
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease;
}
.tab-button.active::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #f25c05;
  border-radius: 2px;
}
.tab-button:hover {
  color: #f25c05;
}
/* HERO */


/* FORMULÁRIOS */
.form-section {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  padding: 60px 80px 10px;
}
.form-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  gap: 40px;
}
/* Formulário */
.lost-item-form {
  flex: 0 0 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  right: 120px;
  position: relative;
}
.form-content,
.form-fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form-row {
  display: flex;
  gap: 20px;
}
.form-row input {
  flex: 1;
}
.lost-item-form input,
.lost-item-form textarea {
  background-color: #b8c3e9;
  border: none;
  border-radius: 25px;
  padding: 15px 20px;
  font-size: 15px;
  color: #7e7584;
  outline: none;
  width: 100%;
}
.lost-item-form textarea {
  resize: none;
  min-height: 100px;
}
/* Filtros  */
.filters {
  background-color: #b8c3e9;
  border-radius: 25px;
  padding: 12px 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}
.filters label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  color: #7e7584;
}
.filters input[type="checkbox"] {
  accent-color: #4b4cb4;
  transform: scale(1.1);
}
/* Upload box */
.image-upload {
  flex: 0 0 30%;
  width: 35%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.upload-box {
  position: relative;
  left: 50px; 
  border: 2px dashed #b8c3e9;
  border-radius: 15px;
  width: 100%;
  height: 400px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #5c63a7;
  transition: 0.3s;
  text-align: center;
  transition: 0.3s;
}
.upload-box:hover {
  border-color: #4b4cb4;
  color: #4b4cb4;
}
.upload-box i {
  font-size: 35px;
  margin-bottom: 10px;
}
.choose-btn {
  margin-top: 8px;
  padding: 8px 25px;
  border: 1.5px solid #5c63a7;
  border-radius: 25px;
  color: #5c63a7;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}
.choose-btn:hover {
  background-color: #5c63a7;
  color: #fff;
}
/* Botão enviar */
.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.btn-registrar {
  background-color: transparent;
  border: 2px solid #f25c05;
  color: #f25c05;
  font-size: 17px;
  font-weight: bold;
  padding: 10px 45px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s ease;
}
.btn-registrar:hover {
  background-color: #f25c05;
  color: #fff;
}
/* FORMULÁRIOS */


/* SUGESTÕES  */
.suggestion-section {
  background-color: #f5f5f5;
  padding: 20px 80px;
  text-align: left;
}
.suggestion-section h2 {
  font-size: 24px;
  color: #011130;
  margin-bottom: 30px;
  font-weight: 600;
}
.cards-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  margin-top: 2rem;
  position: relative;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
.card {
  width: 300px;
  height: 240px;
  background: #011130;
  color: #fff;
  border-radius: 16px;
  padding: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}
.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-top h3 {
  font-size: 24px;
}
.card-top .arrow {
  color: #011130;
  font-size: 24px;
  background-color: #fff;
  border-radius: 100%;
  padding: 8px;
  opacity: 0;
  transform: translateX(-10px);
  transition: all 0.3s ease;
}
.meta,
.card-footer .date {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.card:hover {
  width: 400px;
  background: #164194;
  z-index: 10;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.card:hover .card-top .arrow {
  opacity: 1;
  transform: translateX(5);
}
.card:hover .meta {
  opacity: 1;
  margin: 20px 0;
}
.card:hover .card-footer .date,
.card:hover .card-footer {
  opacity: 1;
}
.card-sep {
  height: 2px;
  background: #f5f5f5;
  margin: 0;
}
.card-footer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.85rem;
}
.pill {
  background: rgba(255, 255, 255, 0.15);
  padding: 6px 10px;
  border-radius: 20px;
}
.date {
  opacity: 0.9;
  font-size: 0.85rem;
}
.card p {
  font-size: 14px;
  line-height: 1.5;
  margin: 10px 0;
}
.meta {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  font-size: 0.85rem;
}
.meta-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.meta-item .icon {
  margin-right: 5px;
}
.fa-user,
.fa-location-dot {
  margin-right: 10px;
}
/* SUGESTÕES  */


/* TABS  */
.tab {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background: none;
  border: none;
  transition: color 0.3s;
}
.tab:hover {
  color: #ff6a00;
}
.line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 2px;
  background-color: #ff6a00;
  transition: left 0.3s, width 0.3s;
}
#formulario {
  padding: 20px;
  border: 1px dashed #ddd;
  display: none;
}
#formulario.achado,
#formulario.perdido {
  display: block;
}
/* TABS  */


/*  RODAPÉ */
.footer {
  margin-top: 20px;
  background-color: #204B8C;
  color: white;
  font-family: "Segoe UI", sans-serif;
  padding: 25px 0 15px 0;
  width: 100%;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 40px;
  font-size: 13px;
  box-sizing: border-box;
}
.footer-logo {
  height: 45px;
}
.footer-social {
  display: flex;
  gap: 12px;
}
.footer-social a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #204B8C;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  font-size: 14px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.footer-social a:hover {
  background-color: #f5f5f5;
}
.footer-divider {
  width: 95%;
  margin: 15px auto;
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 40px;
  font-size: 13px;
  box-sizing: border-box;
}
.footer-bottom p {
  margin: 0;
  text-align: left;
}
.footer-links {
  display: flex;
  align-items: center;
  gap: 8px;
  text-align: right;
}
.footer-links a {
  color: white;
  text-decoration: none;
}
.footer-links a:hover {
  text-decoration: underline;
}
.fa-user,
.glyphicon {
  margin-right: 10px;
}
/*  RODAPÉ */


/* RESPANSIVIDADE  */
@media (max-width: 1000px) {
  .form-container {
    flex-direction: column;
    align-items: center;
  }

  .image-upload {
    width: 100%;
    margin-top: 30px;
  }

  .upload-box {
    max-width: 100%;
    height: 300px;
  }
}
