* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
  font-family: 'Arial', sans-serif;
}

/* --- HEADER --- */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #fff;
}

.logo {
  height: 45px;
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.user {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.user-name {
  font-weight: 500;
  color: #333;
}

/* --- HERO --- */
.hero {
  background-color: #003c90;
  color: white;
  border-radius: 0 0 40px 40px;
  width:100%;
  margin: 30px auto;
  padding: 80px 0 100px;
  position: relative;
  text-align: center;
}

.hero h1 {
  font-size: 42px;
  font-weight: 700;
  text-transform: capitalize;
}

/* --- SETAS (decorativas) --- */
.seta {
  width: 50px;
  position: absolute;
}

.seta-top-esq {
  top: 30px;
  left: 40px;
}

.seta-top-esq2 {
  top: 30px;
  left: 90px;
}

.seta-bottom-dir {
  bottom: 30px;
  right: 40px;
}

.seta-bottom-dir2 {
  bottom: 30px;
  right: 90px;
}

/* --- CURVA INFERIOR --- */
.bottom-curve {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  width: 65%;
  height: 60px;
  background:rgba(243, 243, 243, 0);
  border-radius: 50px 50px 0 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 10px;
}

/* --- BOTÕES --- */
.tabs {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.tab-btn {
  background: none;
  border: none;
  font-size: 15px;
  font-weight: bold;
  color: #f25c05;
  text-transform: lowercase;
  cursor: pointer;
  position: relative;
}

.tab-btn.active::after {
  content: '';
  display: block;
  width: 60%;
  height: 3px;
  background-color: #f25c05;
  border-radius: 2px;
  position: absolute;
  bottom: -5px;
  left: 20%;
}



















body {
      background-color: #f8f9fa; 
    }
    
    aside {
      min-height: 100vh;
    }

.card-img-top {
  width: 350px;  
  height: 350px; 
  object-fit: cover; 
  border-radius: 40px; 
  background-color: #e9ecef;
}
.card-text {
    max-width:250px;

}

.pagination {
  display: flex;
  list-style: none;
  gap: 12px;
  align-items: center;
}

.pagination a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 50%;
  transition: 0.3s;
}

.pagination a:hover {
  background: #ddd;
}


.pagination .active {
  background: #d35400;
  color: #fff;
}


.arrow {
  font-size: 16px;
  font-weight: bold;
  padding: 6px 10px;
  border-radius: 5px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.button-pagination {
  border-radius: 100%;
  font-weight: bold;
  border: none;
}

.button-pagination:hover {
  background-color: #d35400;
  transition: all 0ms ease-in-out;
}

